# Build Paths
/build

#Clion paths
/.idea

#internal tool
/tools/imgSorter


# Application testing
/local

/tools/local

Library/Exchanges/BinanceAPI/binapi-old.cpp
Library/Exchanges/BinanceAPI/binapi-old.hpp
Library/Exchanges/BinanceAPI/WSThread-old.cpp
