# Build Paths
/build

#Clion paths
/.idea

/tools/imgSorter/cryptocurrency-icons-master/


# Application testing
/local

/conan/debug
/conan/release

Library/Exchanges/BinanceAPI/binapi-old.cpp
Library/Exchanges/BinanceAPI/binapi-old.hpp
Library/Exchanges/BinanceAPI/WSThread-old.cpp
